.header {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 40px;
  box-sizing: border-box;
  background-color: var(--dark-header);
  //box-shadow: 0 2px 4px var(0, 0, 0, 0.05);
  position: fixed;
  &_list {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 0 12px;
    margin-left: 36px;
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--gray-1);
    li {
      width: 50px;
      cursor: pointer;
      > span {
        transition: color 0.3s ease-out;
      }
      &.active,
      :hover {
        color: var(--dark-txt);
      }
    }
  }
  &_logo {
    font-size: 40px;
    color: var(--white);
  }
  &_right {
    display: flex;
    gap: 24px;
    .material-symbols-rounded {
      color: var(--dark-white-bg);
      font-size: 32px;
      &:hover {
        color: var(--black-txt);
      }
    }
  }
}
body {
  &.body--light {
    .header {
      background-color: var(--light-header);
      &_list {
        color: var(--dark-3);
        li {
          &.active,
          :hover {
            color: var(--black-3);
          }
        }
      }
      &_logo {
        color: var(--black-1);
      }
      &_right {
        .material-symbols-rounded {
          color: var(--black-1);
          &:hover {
            color: var(--dark-3);
          }
        }
      }
    }
  }
}
