.q-input {
  width: fit-content;
  border: 1px solid var(--dark-border);
  outline: none;
  border-radius: 8px;
}
.q-field__label,
.q-field__input,
.q-field__native,
.q-field__prefix,
.q-field__suffix {
  color: var(--white-1);
}
// dropdown
.q-menu {
  .q-item {
    color: #000;
    &--active {
      border-radius: 8px;
      background-color: var(--gray-1);
      font-weight: 500;
    }
  }
}
.q-field__control {
  color: transparent;
  height: fit-content;
}
.q-field--outlined .q-field__control:before {
  border: none;
}
