.detail-container {
  .detail-wrap {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 24px;
    .detail__title {
      font-size: 24px;
      font-weight: 700;
      margin-bottom: 16px;
    }
    .detail-card-sub-title {
      font-size: 18px;
      margin: 16px 0;
      color: var(--dark-txt);
    }
    .back-btn-area {
      color: var(--dark-txt);
      margin-bottom: 12px;
      .back-btn {
        font-size: 20px;
        margin-right: 12px;
      }
    }
    .homepage-btn {
      display: inline-flex;
      color: var(--dark-txt);
      text-decoration: none;
      padding: 8px 12px;
      background-color: var(--black-3);
      border-radius: 8px;
      margin-top: 12px;
      font-size: 14px;
    }
    .detail_card {
      width: 100%;
      height: 100%;
      position: relative;
      padding: 42px 32px;

      &--bg {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 700px;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border-radius: 12px 12px 0;
        z-index: 1;

        &::after {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 101%;
          border-radius: 12px 12px 0;
          background: linear-gradient(
            to top,
            rgba(9, 9, 11, 1) 0%,
            rgba(9, 9, 11, 0.5) 70%,
            rgba(9, 9, 11, 0) 100%
          );
          z-index: 2;
          pointer-events: none;
        }
      }

      > div:not(.detail_card--bg) {
        position: relative;
        z-index: 3;
        width: 100%;
        display: flex;
        align-items: center;
        gap: 20px;
      }

      &--content_area {
        max-width: 1440px;
        margin: 0 auto;
        img {
          border-radius: 8px;
        }
        @media (max-width: 1024px) {
          flex-direction: column;
        }
      }

      &--content {
        width: 100%;
        .detail-card--title {
          font-size: 12px;
          line-height: 1;
          color: var(--dark-txt);
        }
        .detail-card-title-area {
          margin-bottom: 12px;
          .detail-card--title {
            font-weight: 700;
            font-size: 32px;
            line-height: 1.2;
          }
        }
        .detail-card--genres {
          display: inline-block;
          padding: 4px 8px;
          text-align: center;
          border-radius: 12px;
          background-color: var(--black-3);
          margin-right: 8px;
          font-size: 12px;
        }
        .detail-card--info-area {
          display: grid;
          grid-template-columns: repeat(7, minmax(0, max-content));
          align-items: center;
          margin-top: 24px;
          gap: 8px;
          @media (max-width: 550px) {
            grid-template-columns: repeat(2, minmax(0, max-content));

            & > *:nth-child(7) {
              grid-column: 1 / -1;
            }
          }
          .detail-card--title {
            font-size: 18px;
            margin-right: 12px;
          }
          .material-symbols-rounded {
            justify-content: start;
            margin-bottom: -3px;
            margin-right: 5px;
            font-size: 20px;
            font-weight: 500;
            color: var(--dark-txt);
            &.star {
              color: var(--primary);
            }
          }
        }
        .detail-card--description-area {
          margin-top: 24px;
          .detail_card--sub-title {
            margin-bottom: 12px;
            font-size: 16px;
            font-weight: 700;
            color: var(--dark-txt);
          }
          .detail-card--description {
            font-size: 16px;
            line-height: 1.5;
            color: var(--dark-txt);
          }
        }
      }
    }
  }
}

body {
  &.body--light {
    .detail-container {
      .detail-wrap {
        .detail-card-sub-title {
          color: var(--light-txt);
        }
        .back-btn-area {
          color: var(--light-txt);
        }
        .detail_card {
          &--bg {
            &::after {
              background: linear-gradient(
                to top,
                rgba(255, 255, 255, 1) 0%,
                rgba(255, 255, 255, 0.5) 70%,
                rgba(255, 255, 255, 0) 100%
              );
            }
          }

          &--content {
            .detail-card--title {
              color: var(--light-txt);
            }

            .detail-card--genres {
              background-color: var(--black-3);
            }
            .detail-card--info-area {
              .material-symbols-rounded {
                color: var(--light-txt);
                &.star {
                  color: var(--primary);
                }
              }
            }
            .detail-card--description-area {
              margin-top: 24px;
              .detail_card--sub-title {
                color: var(--light-txt);
              }
              .detail-card--description {
                color: var(--light-txt);
              }
            }
          }
        }
      }
    }
  }
}
