.main_container {
  .title_area {
    padding: 20px 10px;
    box-sizing: border-box;
    margin-bottom: 24px;
    .title {
      display: inline-flex;
      align-items: center;
      font-size: 3.5rem;
      .icon {
        margin-top: 5px;
      }
    }
  }
  .contents_wrapper {
    background-color: var(--color-background);

    & > p {
      font-size: 20px;
      font-weight: 500;
    }
    .chart_area {
      .tooltip_style {
        border-radius: 8px;
        padding: 10px 20px 10px;
        font-family: 'Pretendard Variable', sans-serif;
        background-color: rgba(255, 255, 255, 0.8);
        .name {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 6px;
        }
        .data {
          font-weight: 700;
        }
      }
    }
  }
}
