.main_container {
  .contents_wrapper {
    background-color: var(--black-mute);
    & > p {
      font-size: 20px;
      font-weight: 500;
    }
    .search_area {
      display: flex;
      align-items: center;
      gap: 8px;
    }
    .chart_area {
      .tooltip_style {
        border-radius: 8px;
        padding: 10px 20px 10px;
        font-family: 'Pretendard Variable', sans-serif;
        background-color: rgba(255, 255, 255, 0.8);
        .name {
          font-size: 16px;
          font-weight: 700;
          margin-bottom: 6px;
        }
        .data {
          font-weight: 700;
        }
      }
    }
  }
  .main_tabs {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: end;
    margin-bottom: 20px;
    &_wrapper {
      &.q-tabs {
        width: fit-content;
        border: 1px solid var(--divider-dark-1);
        border-radius: 12px;
        .q-tab {
          padding: 8px 20px;
          color: var(--color-text);
        }
        .q-tab--active {
          background-color: var(--divider-dark-1);
          .q-tab__indicator {
            display: none;
          }
        }
      }
    }
  }
  .q-tab-panels {
    border-radius: 12px;
    padding: 24px;
    background-color: var(--black-mute);
    box-shadow: 0px 6px 6px -6px var(--divider-dark-1);
  }
}
