.trand-container {
  max-width: 1440px;
  margin: 0 auto;
  font-family: 'Pretendard Variable', sans-serif;
  .trand-wrap {
    margin-top: 32px;
    padding: 24px;
    border-radius: 8px;
    background-color: var(--dark-card);
    .trand__title {
      margin-bottom: 24px;
      font-size: 18px;
      font-weight: 700;
      color: var(--white);
    }
  }
  .q-carousel {
    height: 480px;
    background-color: transparent;
  }
  .q-carousel__slide {
    gap: 12px;
    padding-top: 0;

    .trend-item {
      width: calc(20% - 12px);
      height: fit-content;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      cursor: pointer;
      @media (max-width: 1440px) {
        width: calc(25% - 12px); // 4개
      }
      @media (max-width: 1024px) {
        width: calc(33.3333% - 12px); // 3개
      }
      @media (max-width: 768px) {
        width: calc(50% - 12px); // 2개
      }
      @media (max-width: 500px) {
        width: 100%; // 1개
      }

      .trend-item-title {
        font-size: 16px;
        font-weight: 500;
        word-break: keep-all;
        color: var(--dark-txt);
      }

      .bg-wrap {
        width: 100%;
        position: relative;
        overflow: hidden;
        .trend-item-description {
          opacity: 0;
          width: 80%;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 8px;
          color: var(--white);
          text-align: center;
          font-size: 14px;
          display: -webkit-box;
          -webkit-line-clamp: 20;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
          overflow: hidden;
          transition: opacity 0.3s ease-in;
        }
        &:hover {
          img {
            filter: blur(3px);
          }
          .trend-item-description {
            opacity: 1;
            z-index: 9;
          }
        }

        img {
          width: 100%;
          object-fit: cover;
          border-radius: 8px;
          transition: filter 0.3s ease-in;
        }
      }
    }
    @media (max-width: 1440px) {
      .trend-item {
        justify-content: center;
        gap: 12px;
      }
    }
  }
  :deep(.q-carousel__navigation--bottom) {
    bottom: -10px !important;
  }
}

body {
  &.body--light {
    .trand-container {
      .trand-wrap {
        background-color: var(--light-card);
        .trand__title {
          color: var(--black);
        }
        .q-carousel__slide {
          .trend-item {
            .trend-item-title {
              color: var(--light-txt);
            }
          }
        }
      }
    }
  }
}
