@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/static/pretendard.min.css');

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family: 'Pretendard Variable', sans-serif;
  font-size: 16px;
}

.page_container {
  width: 100%;
  height: 100%;
  min-height: calc(100vh - 88px);
  padding: 20px 20px 40px;
  box-sizing: border-box;
  background-color: var(--color-background-soft);
  .title_area {
    padding: 20px 10px;
    box-sizing: border-box;
    & > h1 {
      font-size: 1.25rem;
      line-height: 1rem;
    }
  }
}
