$primary: #f5c518;
$primary-1: #facc15;

$white: #ffffff;
$white-1: #f8f8f8;
$white-2: #f2f2f2;

$gray: #efefef;

$black: #000000;
$black-1: #27292b;
$black-2: #222222;
$black-3: #282828;

$dark-1: #1e2a38;
