$primary: '#facc15';
$white: #fff;
$black: '#000';
$black-1: '#27292b';
$black-soft: '#222';
$black-mute: '#282828';
/*
#e50914 — Netflix 스타일 강렬한 레드

#ff4c4c — 따뜻하면서 눈에 띄는 레드

#1e2a38 — 시네마틱한 어두운 네이비

#005f73 — 무게감 + 고급스러움

#0a84ff — Apple 스타일 푸른 포인트

#f5c518 — IMDB 느낌의 클래식 골드

#facc15 — Tailwind의 golden yellow
*/
